<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="font-family: Golos Text, sans-serif; background-color: #fcede8">
    <div style="width: 650px; margin: 0 auto">
      <div
        style="
          padding-left: 40px;
          background-color: #e13405;
          display: flex;
          gap: 10px;
        "
      >
        <div style="padding-top: 30px; padding-bottom: 8px">
          <img src="./images/logo.svg" alt="Logo" />
          <h1 style="font-size: 2.5rem; color: white">
            You're on the Waitlist!
          </h1>
        </div>

        <div style="height: 100%">
          <img
            style="height: 100%; object-fit: cover"
            src="./images/bg-stroke.svg"
            alt=""
          />
        </div>
      </div>
      <!-- Content -->
      <div
        style="
          padding-top: 20px;
          padding-left: 40px;
          padding-bottom: 30px;
          padding-right: 40px;
          font-size: 0.9rem;
          background-color: white;
        "
      >
        <p style="font-weight: bold; padding: 0; margin: 0">Hi {{fullname}}</p>
        <p style="color: #6c6461; padding: 5px 0; margin: 0">
          Thank you for registering on the waitlist! We're thrilled to have you
          on board and can't wait to show you what we've been working on.
        </p>

        <div style="margin: 12px 0">
          <p style="font-weight: bold; padding: 0; margin: 0">What's Next?</p>
          <p style="color: #6c6461; padding: 5px 0; margin: 0">
            As a waitlist member, you’ll be among the first to know about our
            official launch. We’re putting the final touches to ensure you have
            the best experience possible. In the meantime, here’s what you can
            look forward to:
          </p>
          <div style="font-style: italic; margin-left: 6px; color: #fc815f">
            <p style="padding: 5px 0; display: flex; gap: 5px; margin: 0">
              <span>&#8226;</span>
              <span
                >AI-Powered Moodboard Generation: Quickly create moodboards from
                your ideas, sketches, and even voice notes.</span
              >
            </p>
            <p style="padding: 5px 0; display: flex; gap: 5px; margin: 0">
              <span>&#8226;</span>
              <span
                >Seamless Integration with Figma: Copy moodboards directly into
                your Figma canvas without switching tabs.</span
              >
            </p>
            <p style="padding: 5px 0; display: flex; gap: 5px; margin: 0">
              <span>&#8226;</span> <span>and many more.</span>
            </p>
          </div>
        </div>

        <p style="font-weight: bold; padding: 0; margin: 0">Stay Connected</p>
        <p style="color: #6c6461; padding: 5px 0; margin: 0">
          We’ll keep you updated with our progress and let you know as soon as
          This is ready for you to explore. In the meantime, feel free to follow
          us on social media for sneak peeks and more exciting updates.
        </p>

        <div style="margin: 20px 0px">
          <p style="padding: 0; margin: 0; color: #6c6461">Best Regards,</p>
          <p
            style="padding: 5px 0; font-weight: bold; margin: 0; color: #6c6461"
          >
            Team
          </p>
        </div>

        <!-- Socials -->
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #6c6461;
          "
        >
          <p style="font-weight: 600">Follow us on Social Media</p>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 20px;
            "
          >
            <a
              style="
                text-align: center;
                font-size: 14px;
                color: #6c6461;
                text-decoration: none;
              "
              href=""
            >
              <img src="./images/facebook.svg" alt="facebook icon" />
              <p style="padding: 5px 0; margin: 0">Facebook</p>
            </a>
            <a
              style="
                text-align: center;
                font-size: 14px;
                color: #6c6461;
                text-decoration: none;
              "
              href=""
            >
              <img src="./images/twitter.svg" alt="twitter icon" />
              <p style="padding: 5px 0; margin: 0">X-Twitter</p>
            </a>
            <a
              style="
                text-align: center;
                font-size: 14px;
                color: #6c6461;
                text-decoration: none;
              "
              href=""
            >
              <img src="./images/instagram.svg" alt="instagram icon" />
              <p style="padding: 5px 0; margin: 0">Instagram</p>
            </a>
            <a
              style="
                text-align: center;
                font-size: 14px;
                color: #6c6461;
                text-decoration: none;
              "
              href=""
            >
              <img src="./images/youtube.svg" alt="youtube icon" />
              <p style="padding: 5px 0; margin: 0">Youtube</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
